/* 
background: #eae2d8ff 
text: #9a6626ff
dark gray: #525252ff
light gray: #e3e3e3ff
highlight: #c77612ff

*/

/* navbar */
nav {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eae2d8ff;
  z-index: 10;
  width: 100%;
  height: 10vh;
}

.nav-link-button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #9a6626ff;
  font-weight: 400;
  font-family: "Alumni Sans", sans-serif;
}

.nav-link-button:hover {
  color: #c77612ff;
  transform: translateY(-2px);
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
}

/* footer */
.footer-container {
  background-color: #eae2d8ff;
  padding: 0 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-name {
  color: #9a6626ff;
  font-size: 2rem;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
  margin: 5px 0 5px 0;
}

.footer-link-container {
  display: flex;
  gap: 10px;
}

.footer-icon-outline {
  border-radius: 50%;
  border: 2px solid #9a6626ff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-outline:hover {
  color: #c77612ff;
}

/* about section */
.about-me-container {
  background-color: #b19778ff;
  color: black;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #ffffffff;
  margin: 0;
  height: 85vh;
  padding: 70px 100px 0 100px;
}

.about-text-container {
  width: 550px;
}

/* projects section */
.projects-container {
  padding: 50px 0 50px 0;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-list-container {
  padding: 5rem 2rem 2rem 2rem;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 4px solid #9a6626ff;
  border-radius: 12px;
  margin-top: -50px;
}

.projects-list-heading {
  background-color: #ffffff;
  z-index: 2;
  padding: 0 1rem 0 1rem;
}

.project-button {
  width: 20rem;
  height: 20rem;
  border: 2px solid #eae2d8ff;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

.project-button-filter {
  background-color: #ffffffd0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transition: opacity 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button-title {
  text-align: center;
  color: #525252ff;
  margin: 0;
  font-size: 1.8rem;
}

.project-button-desc {
  text-align: center;
  color: #525252ff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}

/* contacts section */

.contacts-container {
  padding: 80px 0 150px 0;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #9a6626ff;
  font-size: 1.2rem;
}

.contact-link:hover {
  color: #c77612ff;
}

.contacts-header {
  color: black;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
  margin: 0;
}

/* project page */
.project-page-container {
  max-width: 800px;
  margin: 0 auto;
}

.project-page-header {
  display: flex;
  padding: 100px 0 50px 0;
  justify-content: space-between;
  align-items: center;
}

.project-page-header-img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 10px;
}

.project-page-header-text-container {
  max-width: 400px;
  padding: 0 20px 0 20px;
}

.project-page-title {
  margin-bottom: 0;
  margin-top: 0;
}

.project-page-subtitle {
  margin-top: 0;
}

.project-page-description {
  margin-top: 0;
}

.project-header-link-container {
  display: inline-flex;
  flex-direction: column;
}

.project-header-link {
  text-decoration: none;
  color: #9a6626ff;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding-top: 2px;
}

.project-link-icon {
  padding: 0 1px 0 3px;
}

.project-page-features-heading {
  text-align: center;
}

.project-video-outer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.project-video-inner-container {
  position: relative;
  width: 800px;
  background-color: #e3e3e3ff;
  border-radius: 15px;
  border: 2px solid #e3e3e3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.project-video-arrow {
  max-width: 100px;
  cursor: pointer;
}

.project-video-caption-container {
  display: flex;
  align-items: center;
  transition: opacity 300ms;
}

.project-video-caption {
  padding-bottom: 5px;
  text-align: center;
}

.project-video-transition {
  position: absolute;
  height: 100%;
  background-color: #e3e3e3ff;
  z-index: 5;
  transition: opacity 300ms;
  pointer-events: none;
}

.project-video {
}

/* contacts section */
.contact-container {
  color: black;
}

@media (max-width: 1200px) {
  .project-list-container {
    max-width: 700px;
    margin: -30px 30px 0 30px;
  }
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 50px 0;
  }

  .about-text-container {
    margin-top: -30px;
  }

  .contacts-container {
    flex-direction: column;
    gap: 50px;
  }

  .projects-container {
    padding-top: 50px;
  }

  .project-list-container {
    max-width: 600px;
    justify-content: center;
  }

  .project-page-header {
    flex-direction: column;
    align-items: center;
  }

  .project-page-title {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .project-header-link-container {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .project-header-link {
    padding-right: 30px;
  }

  .project-page-header-text-container {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .project-video-caption {
    width: 500px;
  }
}

@media (max-width: 650px) {
  .about-container {
    padding: 100px 50px 80px 50px;
  }

  .about-text-container {
    width: 100%;
    padding: 0 0 130px 0;
  }

  .footer-container {
    padding: 0 30px 0 30px;
  }

  .project-video-caption {
    width: auto;
  }
}
